<div class="row">
    <div class="col-md-12 mx-auto mt-5">
            <div class="card">
                    <div class="card-body">
                        <form>
                          <div class="form-group">
                            <div #map style="width: auto; height: 600px"></div>
                                  </div>
                                     <div class="card col-md-12" style="margin-bottom: 2em">

                                      <h4 class="card-title">Viajes</h4>
                                      <h6 class="card-subtitle mb-2 text-muted">miercoles, 30 de Octubre</h6>
                                      <p class="card-text">El bus llegará en 20 min</p>
                                      <span> <a  class="card-link modificar" (click) = "goBack()">Modificar</a>
                                      <a  class="card-link cancelar" data-toggle="modal" data-target="#exampleModal" >Cancelar</a></span>
                                    </div>


                                          <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cancelación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
              Enfermedad
              </label>

            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
              Compromiso
              </label>

            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
              Aviso de Escuela
              </label>

            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
              Huelgas y Protestas
              </label>

            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
              Otros
              </label>

            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="form-group">
        <div class="card" style="width: auto;">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">* Mañana marcha en Av. Reforma</li>
        <li class="list-group-item">* Viernes 13 no habra clases-SEP</li>
        <li class="list-group-item">* Mañana Festival Halloween-Escuela</li>
        </ul>
        </div>
          </div>
            </form>
          </div>
          </div>
    </div>
</div>
