<div class="row">
    <div class="col-md-12 mx-auto mt-5">
          <div class="card">
                <div class="card-body">
                      <form>
                          <div class="form-group">
                              <div #map style="width: auto; height: 500px"></div>
                          </div>
                          <div class="col-auto" style="margin-top: 2em">
                              <label class="sr-only" for="inlineFormInputGroup">Ubicación</label>
                              <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                      <div class="input-group-text"><i class="fa fa-map-pin"></i></div>
                                  </div>
                                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ubicación">
                              </div>
                          </div>
                          <div class="col-auto" style="margin-top: 2em">
                              <label class="sr-only" for="inlineFormInputGroup">Escuela</label>
                                  <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text"><i class="fa fa-graduation-cap"></i></div>
                                      </div>
                                      <select class="custom-select">
                                          <option selected>...</option>
                                          <option value="1">Colegio Educación Alive</option>
                                          <option value="2">Modern American School-Kinder</option>
                                          <option value="3">Colegio Williams</option>
                                        </select>
                                  </div>
                          </div>
                          <div class="col-auto" style="margin-top: 2em">
                              <label class="sr-only" for="inlineFormInputGroup">7:30 am</label>
                                  <div class="input-group mb-2">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                      </div>
                                      <select class="custom-select">
                                          <option selected>...</option>
                                          <option value="1">martes, 30 de Octubre de 2018 7:30 am</option>
                                          <option value="2">martes, 30 de Octubre de 2018 1:30 pm</option>
                                        </select>
                                  </div>
                          </div>
                          <div class="col-auto">
                                  <button type="click" class="enviar text-light btn btn-warning col-sm-12" style="margin-top:2em" routerLink="/agendado">Continuar</button>
                          </div>
                      </form>
                </div>
          </div>
    </div>
</div>

